@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap');


$seatColor: #b0eeff;
$backgroundColor: #ccd6d9;

$invalidMoveColor: #6e6a6a;
$invalidMoveFont: 'Orbitron', sans-serif;

$aisleFont: 'Cinzel', serif;
$liminal: 'Montserrat Alternates', sans-serif;

$cellFont: 'Slabo 27px', serif;
$playerFont: 'Permanent Marker', cursive;
$buttonFont: 'Raleway', sans-serif;