body{
    background-color : lightblue;
}
.Plane {
    text-align: center;
    display: grid;
    grid-template-columns: 4fr 5fr 5fr 5fr 10fr 5fr 5fr 5fr 4fr;
}

.Cell {
    box-sizing: border-box;
    border: 1px solid gray;
    height: 50px;
}

.seat {
    background-color: lightcyan;
}

.entrance {
    background-color: goldenrod;
}

.aisle {
    background-color: peachpuff;
}

.wall {
    background-color: lightseagreen;
}

.player{
    box-sizing: border-box;
    border: 5px solid plum;
    opacity: 5;
    background-color:rgb(72, 117, 117, .5);
}

.exit{
    background-color: #ff5959;
}